<h1>Places Visited</h1>
<h3>Add a new place:</h3>
<form action="/places" method="post">
  <label for="new-place">Place Description</label>
  <input id="new-place" name="new-place" type="text">
  <button type="submit">Add place</button>
</form>  
